# env/dev/values.yaml
global:
  security:
    allowInsecureImages: true

image:
  registry: public.ecr.aws
  repository: bitnami/nginx
  tag: 1.29.0
  pullPolicy: Always

service:
  type: ClusterIP
  port: 80
